@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

/* For demo purposes only, don't do this in a real world application :) */
* {
  font-family: Ubuntu;
  font-weight: bold;
}

#board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.panel {
  float: left;
  padding: 0 20px;
}

.panel-section {
  padding: 0 0 30px;
}

.tile {
  float: left;
  width: 30px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  background-image: url('./assets/5-in-a-row-tile.svg');
  text-align: center;
  cursor: pointer;
}

.tile > img {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: sub;
}

.alert-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ddd;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  text-align: center;
  transition: opacity 150ms ease;
}

.alert-box.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 150ms ease;
}

.btn {
  padding: 10px 20px;
  background-color: aliceblue;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.title {
  margin-bottom: 5px;
}